.WeatherApp {
  border: 2px solid gray;
  border-radius: 4px;
}
ul li {
  list-style: none;
}
.weather-info {
  padding-left: 0;
}
.weather-image {
  width: 100px;
}
.temperature {
  font-size: 72px;
  line-height: 100px;
  align-items: middle;
}
.units {
  top: 32px;
  font-size: 24px;
}
